body {
    font-family: Arial,serif;
    font-size: 14px;
    margin: 20px auto;
    overflow-y: hidden;
}
#titrePage {
    float: right;
    font-family: Times New Roman;
    font-size: 100px;
    font-weight: bold;
    margin-right: 210px;
}
.link {
    color: #456d86;
}
.link:hover {
    color: #ccc;
    cursor: pointer;
}
#companyListContainer {
    -moz-column-gap: 3px;
    column-gap: 3px;
    -moz-columns: 10 auto;
    columns: 10 auto;
    background-color: #fefee2;
    border-top: 9px solid #227004;
    box-sizing: border-box;
    height: 395px;
    padding: 5px;
    text-align: left;
    width: 100%;
    z-index: 1;
}
#companyListContainer ul {
    height: 4567px;
    margin: 0;
    padding: 0;
}
#companyListContainer li {
    background-color: white;
    box-shadow: 1px 1px 4px 1px #bebebe;
    cursor: pointer;
    font-size: 10px;
    height: 13px;
    width: 170px;
    list-style: outside none none;
    margin-bottom: 2px;
    padding: 5px;
    -webkit-column-break-after: always;
    break-inside: avoid-column;
    word-wrap: break-word;
    -webkit-hyphens: auto;
}
#companyListContainer li.hidden {
    visibility: hidden;
}
#companyListContainer li:hover:not(.sector) {
    /*background-color: #fed394;*/
}
#companyListContainer li.sector {
    background-color: #f5f5f5;
    border: medium none;
    cursor: auto;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
   /* text-align: center; */
}
#companyListContainer li.sector.reset {
    background-color: white;
    color: #4e4e4e;
    font-size: 26px;
    margin-top: 32px;
    text-align: center;
}
#companyListContainer li.sector.reset img {
    height: 25px;
    margin: 5px;
    vertical-align: top;
}

#companyListContainer li.sector span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}


#map {
    transform: rotateX(180deg);
}
div#mapContainer {
    display: inline-block;
}
div#previewDiv {
    display: inline-block;
    float: right;
    position: absolute;
    right: 300px;
    top: 120px;
}
div#previewDiv img {
    display: none;
}
div#previewDiv img.button {
    display: inline;
    max-height: 50px;
    vertical-align: top;
    margin-top: 20px;
}
div#previewDiv img.showed {
    display: inline;
}
div#previewDiv img.logo {
    max-width: 230px;
}
div#previewDiv img.page {
    max-width: 378px;
}
div#previewDiv div {
    display: inline-block;
    text-align: center;
    width: 400px;
}
#menu {
    bottom: 0;
    position: fixed;
    width: 100%;
}
#searchContainer {
    background-color: #227004;
    width: 400px;
    float: right;
}
input#searchInput {
    border: 0 none;
    border-radius: 0;
    color: #4a4a4a;
    font-size: 24px;
    height: 32px;
    margin: 5px 5px 5px 15px;
    padding: 0 5px;
    width: 360px;
}
#companyList .locationId {
    color: gray;
    float: right;
/*    display: none;*/
}

.ui-keyboard {
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.ui-keyboard-button {
    height: 4em;
    min-height: 4em;
    line-height: 2em;
    background-color: white;
    border: thin solid #c9c9c9;
}

.ui-keyboard-preview {
    border: thin solid gray;
    border-radius: 0;
    height: 31px;
    margin-left: -38px;
    margin-right: -38px;
    margin-top: -5px;
    padding-left: 5px;
    width: 370px;
    font-size: 24px;
}









/* moche */
#positionEntree {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    left: 571px;
    position: absolute;
    top: 429px;
    width: 50px;
    z-index: 5;
}
#positionVESTIAIRES1 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    left: 660px;
    position: absolute;
    top: 346px;
    width: 50px;
    z-index: 5;
}

#positionVESTIAIRES2 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    left: 511px;
    position: absolute;
    top: 346px;
    width: 50px;
    z-index: 5;
}
#positionVIP {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    left: 200px;
    position: absolute;
    text-align: center;
    top: 101px;
    width: 67px;
    z-index: 5;
}

#positionHandicafe {
    color: white;
    font-size: 11px;
    font-weight: bold;
    height: 50px;
    left: 363px;
    position: absolute;
    top: 571px;
    width: 50px;
    z-index: 5;
}

#positionRestaurant {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    left: 106px;
    position: absolute;
    top: 562px;
    width: 50px;
    z-index: 5;
}

#positionCG {
    color: white;
    font-size: 9px;
    font-weight: bold;
    height: 50px;
    left: 348px;
    position: absolute;
    text-align: center;
    top: 492px;
    width: 78px;
    z-index: 5;
}